@charset "utf-8";
@import "~bulma/bulma";
.navigation
{
   
   position: sticky;
   top: 0;
   z-index: 100;
   
}


/* Core variables */
@import "base/vars";
.navigation
{
   
   position: sticky;
   top: 0;
   z-index: 100;
   
}


/* CSS Reset */
@import "base/reset";
.navigation
{
   
   position: sticky;
   top: 0;
   z-index: 100;
   
}


/* Fonts */
@import "base/fonts";
.navigation
{
   
   position: sticky;
   top: 0;
   z-index: 100;
   
}


/* Mixins, helpers and functions */
@import "base/mixins";
.navigation
{
   
   position: sticky;
   top: 0;
   z-index: 100;
   
}


html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: $background;
  .navigation
{
   
   position: sticky;
   top: 0;
   z-index: 100;
   
}

}

.navigation
{
   
   position: sticky;
   top: 0;
   z-index: 100;
   
}
